﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div id="hero-banner">

    </div>
</header>
<main id="main-content">
    
    <div class="content-wrapper">
        <h1>Offender Locator</h1>
        <p>A first or last name OR Offender I.D. # are required for all searches.</p>
    </div>

    <section id="offender-search">
        <!-- Begin Offender Locator Form -->
        <form id="offender-locator-form">
            <fieldset id="required-fields">
                <legend class="accessibility-hidden">A first and last name or an offender I.D. number is required</legend>
                <div class="content-wrapper">
                    <h2>Required Information</h2>
                    <label class="col-9 mar-r-1" for="first-name">
                        <span class="label">First Name</span>
                        <input type="text" name="first-name" id="first-name" />
                    </label>
                    <label class="col-8" for="last-name">
                        <span class="label">Last Name</span>
                        <input type="text" name="last-name" id="last-name" />
                    </label>

                    <div id="or-divider-wrap">
                        <div class="vertical-line"></div>
                        <p class="or-divider">or</p>
                        <div class="vertical-line"></div>
                    </div>
                    <label class="col-9" for="offender-id">
                        <span class="label">Offender I.D. #</span>
                        <input type="text" name="offender-id" id="offender-id" />
                    </label>
                </div>
            </fieldset>
            <fieldset id="optional-fields">
                <legend class="accessibility-hidden">The following form fields are optional.</legend>
                <div class="content-wrapper">
                    <h2>Optional Information</h2>
                    <label class="col-9 mar-r-1" for="middle-name">
                        <span class="label">Middle Name</span>
                        <input type="text" name="middle-name" id="middle-name" />
                    </label>
                    <label class="col-9 mar-r-1" for="alias">
                        <span class="label">Alias</span>
                        <input type="text" name="alias" id="alias" />
                    </label>
                    <label class="col-9" for="location">
                        <span class="label">Location</span>
                        <select name="location" id="location">
                            <option value="" disabled selected>blank</option>
                            <option value="">virginia womens correctional center</option>
                            <option value="">location option</option>
                            <option value="">location option</option>
                        </select>
                    </label>
                    <div class="offender-input-group col-9 mar-r-1">
                        <label class="date-picker wrapping-label" for="release-date">
                            <span class="label">Release Date</span>
                            <input class="has-datepicker" type="text" name="release-date" id="release-date" placeholder="dd/mm/yyyy">
                            <img class="calendar-icon" src="/images/icons/calendar.svg" aria-hidden="true">
                        </label>
                    </div>
                    <label class="col-4 mar-r-1" for="age-from">
                        <span class="label">Age From</span>
                        <input type="number" name="age-from" id="age-from" min="18" max="99">
                    </label>
                    <label class="col-4 mar-r-1" for="age-to">
                        <span class="label">Age To</span>
                        <input type="number" name="age-to" id="age-to" min="18" max="99">
                    </label>
                    <label class="col-4 mar-r-1" for="sex">
                        <span class="label">Sex</span>
                        <select name="sex" id="sex">
                            <option value="" disabled selected>blank</option>
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                    </label>
                    <label class="col-4" for="race">
                        <span class="label">Race</span>
                        <select name="race" id="race">
                            <option value="" disabled selected>blank</option>
                            <option value="">Pacific Islander</option>
                            <option value="">White</option>
                            <option value="">Black</option>
                        </select>
                    </label>
                    <button id="submit-button" class="primary-button">Locate</button>
                    <hr />
                </div>
            </fieldset>
        </form>
        <!-- End Offender Locator Form -->
        <!-- Begin Search Results -->
        <div class="content-wrapper">
            <div id="results-sort" class="button-group">
                <p class="button-group-title">Sort by: </p>
                <ul>
                    <li>
                        <button id="name-sort"><span class="accessibility-hidden">Sort results by</span>Name</button>
                    </li>
                    <li>
                        <button id="location-sort" class="active"><span class="accessibility-hidden">Sort results by</span>Location</button>
                    </li>
                    <li>
                        <button id="date-sort"><span class="accessibility-hidden">Sort results by</span>Release Date</button>
                    </li>
                </ul>
            </div>

            <ul id="result-cards">
                <p>Your search returned no results...Idiot</p>
            </ul>
        </div>
        <!-- End Search Results -->
        <div class="content-wrapper">
            <div id="disclaimer">
                <h2>Disclaimer</h2>
                <p>Katana gang tattoo A.I. hacker post-paranoid uplink vinyl grenade BASE jump courier pen face forwards dome. Towards network futurity 8-bit plastic jeans garage artisanal RAF tube claymore mine footage chrome geodesic fluidity.</p>
            </div>
        </div>
    </section>
</main>

