/*--------------------------*/
/* Resets */
/*--------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 66.5%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Fix display issues for html5 main tag in IE*/
main {
    display: block;
}
/*---------------------------*/
/* Fonts */
/*---------------------------*/
@font-face {
    font-family: lato;
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular.woff2') format('woff2'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.ttf') format('truetype'), url('../fonts/lato-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lato-light;
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light.ttf') format('truetype'), url('../fonts/lato-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: source-sans;
    src: url('../fonts/sourcesanspro-regular.eot');
    src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-regular.woff2') format('woff2'), url('../fonts/sourcesanspro-regular.woff') format('woff'), url('../fonts/sourcesanspro-regular.ttf') format('truetype'), url('../fonts/sourcesanspro-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*---------------------------*/
/* Global Styles */
/*---------------------------*/
html {
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 62.5%;
}

body {
    min-width: 124rem;
}

main {
    padding-top: 4em;
}

h1,
h2,
h3,
h4 {
    color: #464545;
    line-height: 1;
}

h1 {
    font-family: lato-light, arial, sans-serif;
    font-size: 4em;
    margin-bottom: 0.5em;
}

h2 {
    font-family: lato-light, arial, sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 0.909090em; /*20px*/
}

h3 {
    font-family: lato, arial, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
}

    h3.body-bold {
        font-family: source-sans, arial, sans-serif;
        text-transform: none;
        line-height: 1.5em;
    }

h4 {
    font-family: lato, arial, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.1px;
    line-height: 1.5em;
    margin-bottom: 1.6666666666666667em;
}

blockquote {
    border-bottom: 1px dotted #a8a8a9;
    border-top: 1px dotted #a8a8a9;
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 1.5em;
    margin: 0.5555555555555556em 0 2.2222222222222223em 0; /*10px 0 40px 0*/
    padding: 1.1111111111111112em 0; /*20px*/
    width: 20em; /*360px*/
}

cite {
    color: #464545;
    display: block;
    font-family: source-sans, arial, sans-serif;
    font-style: italic;
    letter-spacing: 0.1px;
    line-height: 1.5em; /*27px*/
    margin-top: 1.1111111111111112em; /*20px*/
}

h2 + p {
    margin-top: -0.125em;
}

dd p {
    margin: 0;
}

img {
    border: 1px solid #c2c2c2;
}

dt {
    color: #464545;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.7em;
    letter-spacing: 0.1px;
    line-height: 1.4em;
}
/* list styles */
ul.unstyled-list {
    list-style: disc;
}

    ul.unstyled-list li {
        margin-left: 1.5em;
        vertical-align: middle;
    }

        ul.unstyled-list li ul.unstyled-list li {
            margin-left: 4rem;
        }

    ul.unstyled-list p,
    ul.unstyled-list span {
        /* margin-left: -0.3em; */
    }

    ul.unstyled-list span {
        color: #464545;
        font-family: source-sans, arial, sans-serif;
        font-size: 1.8em;
        letter-spacing: 0.1px;
        line-height: 1.5em;
    }
/* Link Styles */
a {
    color: #3a7ebc;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.5em;
    text-decoration: underline;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

    a:hover,
    a:visited:hover {
        color: #98002e;
        text-decoration: none;
    }

    a:visited {
        color: #003768;
    }

p > a {
    font-size: 1em;
}

.unstyled-link {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

    .unstyled-link:hover,
    .unstyled-link:visited:hover {
        color: inherit;
        text-decoration: underline;
    }

    .unstyled-link:visited {
        color: inherit;
    }

.image-link {
    background-color: black;
}

    .image-link img {
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

    .image-link:hover img {
        opacity: 0.88;
    }

    .image-link:hover figcaption.callout {
        background-color: rgba(233, 102, 29, 0.88)
    }

figure.image-link {
    line-height: 0;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.image-link a {
    font-size: 1em;
    text-decoration: none;
}

a.read-more {
    display: inline-block;
}

.hyperlink-heading {
    font-size: 1em;
}

    .hyperlink-heading a {
        color: #464545;
        font-weight: 600;
        line-height: 1.2em;
        text-decoration: none;
    }

        .hyperlink-heading a:hover {
            color: inherit;
            text-decoration: underline;
        }
/* Form Styles */
label,
button {
    display: block;
}

button {
    line-height: 1;
}

label {
    color: #464545;
    font-size: 1.6em;
    line-height: 1;
    margin-bottom: 0.625em; /*10px*/
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"] {
    border: 1px solid #a8a8a9;
    border-radius: 2px;
    color: #737373;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.8em;
    height: 3.6rem; /*36px*/
    margin-bottom: 2rem; /*20px*/
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(99.445% - 20px);
}

label input[type="text"],
label input[type="email"],
label input[type="tel"],
label input[type="number"],
label input[type="date"],
label input[type="search"],
label select {
    font-size: 1.0625em; /*17px*/
    margin-bottom: 0;
}

label span.label {
    display: block;
    margin-bottom: 0.625em; /*10px*/
}

label.wrapping-label {
    margin-bottom: 1.25em; /*20px*/
}

label.checkbox {
    cursor: pointer;
    padding-left: 2.5em; /*40px*/
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    label.checkbox input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    label.checkbox .box-checkmark {
        background-color: #fff;
        border: 1px solid #a8a8a9;
        height: 23px;
        left: 0;
        position: absolute;
        top: 0;
        width: 23px;
    }

    label.checkbox input:checked ~ .box-checkmark {
        background-image: url(../images/visitation-form/check.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid #3a7ebc;
    box-shadow: 0 0 2px #3a7ebc;
}

select {
    appearance: none;
    -moz-appearance: none; /* Firefox hide default dropdown menu arrow*/
    -webkit-appearance: none; /* Safari and Chrome hide default dropdown menu arrow*/
    background-image: url(../images/other-icons/drop-arrows-down.svg);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 10px;
    border: 1px solid #a8a8a9;
    border-radius: 2px;
    color: #737373;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.7em;
    height: 2.3529411764705883em;
    margin-bottom: 1.17647em; /*20px*/
    padding-bottom: 1px;
    padding-left: 0.5882352941176471em;
    padding-right: 0.5882352941176471em;
    padding-top: 1px;
    width: 100%;
}

    select::-ms-expand {
        display: none; /*Hide default dropdown arrow for i.e. 10-11*/
    }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    display: block;
    position: relative;
}

input[type=number]:hover::-webkit-inner-spin-button {
    background-image: url(../images/other-icons/drop-arrows-both.svg);
    background-position: right center;
    background-repeat: no-repeat;
    height: 22px;
    width: 16px;
}

textarea {
    border: 1px solid #a8a8a9;
    border-radius: 2px;
    color: #737373;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.7em;
    margin-bottom: 1.17647em;
    overflow: auto; /*Hide default scrollbar in IE when unnecessary*/
    padding-left: 0.5882352941176471em;
    padding-right: 0.5882352941176471em;
}
/*---------------------------*/
/* Font Class Stylings */
/*---------------------------*/
.body-bold {
    color: #464545;
    font-weight: 600;
}

.date-stamp,
.callout {
    color: #a3a3a3;
    font-family: lato, arial, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1.071428em; /*15px*/
    margin-top: 0.571428em; /*8px*/
    text-transform: uppercase;
}

h2.over-image {
    margin-bottom: 1em;
}

.multiline-heading {
    line-height: 1.1em;
}

.text-only {
    color: #464545;
    font-family: source-sans;
    font-size: 1.7em;
    letter-spacing: 0.1px;
    line-height: 1.4em;
}

.description {
    margin-bottom: 1.1111111111111112em;
}

a.multiline-link {
    line-height: 1.2em;
}

.h2-style {
    color: #464545;
    font-family: lato-light, arial, sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1;
    text-transform: none;
}

.h1-style {
    color: #464545;
    font-family: lato-light, arial, sans-serif;
    font-size: 4em;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0.5em;
    text-transform: none;
}
/*---------------------------*/
/* Button Class Stylings */
/*---------------------------*/
.primary-button,
.secondary-button,
.punchout-button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-family: lato, arial, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 3.75em; /*60px*/
    padding: 0.6875em 2.3em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background 0.2s, color 0.2s, border 0.2s; /* Safari */
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.primary-button {
    background-color: #003768;
    border: 1px solid #003768;
    color: #fff;
    display: inline-block;
}

    .primary-button:hover {
        background: transparent;
        color: #003768;
    }

.secondary-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
}

    .secondary-button:hover {
        background-color: #00274a;
        border-color: #fff;
    }

.punchout-button {
    background-color: #fff;
    border: 1px solid #003768;
    color: #003768;
    display: inline-block;
}

    .punchout-button:hover {
        background-color: #00274a;
        border-color: #00274a;
        color: #fff;
    }

a.primary-button:visited,
a.secondary-button:visited {
    color: #fff;
}

    a.primary-button:visited:hover {
        color: #003768;
    }

.link-style {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    display: inline-block;
    color: #3a7ebc;
    font-family: source-sans, arial, sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

    .link-style:hover {
        text-decoration: none;
    }

.button-group ul {
    display: inline-block;
    margin-bottom: 2em;
    padding: 0;
}

.button-group li {
    display: inline-block;
    margin: 0 0 0 -4px;
    text-align: center;
    width: 12em;
}

    .button-group li:nth-of-type(1) {
        margin-left: 0;
    }

    .button-group li button {
        background-color: #fff;
        border: 1px solid #a8a8a9;
        color: #464545;
        cursor: pointer;
        display: inline-block;
        font-size: 1.7em;
        height: 100%;
        padding: 0.647058em 0; /*11px*/
        text-decoration: none;
        width: 100%;
    }

        .button-group li button.active {
            background-color: #eef2f4;
        }

.button-group-title {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 6.896552%;
}
/*---------------------------*/
/* Icon Stylings */
/*---------------------------*/
.card-icon,
.static-card-icon {
    border: none;
    width: 8em;
    height: 8em;
}

img.inline-pin {
    border: none;
    height: 0.75em;
    margin-right: 0.5em;
}
/*---------------------------*/
/* Grid/Container Classes */
/*---------------------------*/
.content-wrapper {
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 116em;
}

.with-sidebar-nav .content-wrapper {
    padding-left: 28rem;
    width: 92rem;
}

.col-1 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 4rem;
}

.col-2 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 8rem;
}

.col-3 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 12rem;
}

.col-4 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 16rem;
}

.col-5 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 20rem;
}

.col-6 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 24rem;
}

.col-7 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 28rem;
}

.col-7-half {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 30rem;
}

.col-8 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 32rem;
}

.col-9 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 36rem;
}

.col-10 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 40rem;
}

.col-11 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 44rem;
}

.col-12 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 48rem;
}

.col-13 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 52rem;
}

.col-14 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 56rem;
}

.col-15 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 60rem;
}

.col-16 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 64rem;
}

.col-17 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 68rem;
}

.col-18 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 72rem;
}

.col-19 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 76rem;
}

.col-20 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 80rem;
}

.col-21 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 84rem;
}

.col-22 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 88rem;
}

.col-23 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 92rem;
}

.col-24 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 96rem;
}

.col-25 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 100rem;
}

.col-26 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 104rem;
}

.col-27 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 108rem;
}

.col-28 {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    width: 112rem;
}

.mar-r-1 {
    margin-right: 4rem;
}

.mar-l-1 {
    margin-left: 4rem;
}

.ib-element {
    display: inline-block;
    margin-left: -4px;
}

.accessibility-hidden {
    font-size: 0;
    left: -9999px;
    position: absolute;
}

.info-block {
    margin-bottom: 4em;
}

.dark-background p,
.dark-background h2,
.dark-background label,
.dark-background a,
.dark-background span,
.dark-background h3,
.dark-background {
    color: #fff;
}

.clear-fix:after {
    clear: both;
    content: '';
    display: table;
}
/*---------------------------*/
/* Header */
/*---------------------------*/
header #hero-banner {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 32rem;
}

#hero-banner #home-hero {
    padding-bottom: 7.5rem;
    padding-top: 10rem;
}

    #hero-banner #home-hero h1 {
        color: #fff;
        display: inline-block;
        font-size: 8.75em;
        font-weight: 600;
        text-transform: uppercase;
    }

#hero-offender-locator {
    display: inline-block;
    margin-left: 0;
}

    #hero-offender-locator h2 {
        color: #fff;
    }

    #hero-offender-locator form {
        display: inline-block;
        position: relative;
    }

        #hero-offender-locator form#offender-by-name fieldset,
        #hero-offender-locator form#offender-by-id fieldset {
            display: inline-block;
        }

        #hero-offender-locator form#offender-by-name input,
        #hero-offender-locator form#offender-by-id input {
            border-radius: 6px;
            display: inline-block;
            height: 5.6rem;
            margin: 0;
        }

        #hero-offender-locator form#offender-by-name button[type=submit],
        #hero-offender-locator form#offender-by-id button[type=submit] {
            bottom: 1rem;
            float: none;
            margin: 0;
            position: absolute;
            right: 1rem;
        }

        #hero-offender-locator form#offender-by-name input#first-name {
            width: 23.5rem; /*235px*/
        }

        #hero-offender-locator form#offender-by-name input#last-name {
            width: 27.8rem; /*278px*/
        }

        #hero-offender-locator form#offender-by-id input#offender-id {
            margin-left: -4px;
            width: 33.8rem; /*338px*/
        }

    #hero-offender-locator .or-divider {
        padding-left: 4em;
        width: 4em;
        margin-left: -4px;
        vertical-align: baseline;
    }

        #hero-offender-locator .or-divider .vertical-line {
            left: 0;
            height: 1.6em;
            border-color: #fff;
        }

        #hero-offender-locator .or-divider p {
            color: #fff;
            display: inline-block;
            left: -0.5em;
            margin-bottom: 0;
            position: relative;
        }

    #hero-offender-locator a#advanced-search {
        color: #fff;
        display: block;
        float: right;
        margin-top: 2rem; /*20px*/
    }

        #hero-offender-locator a#advanced-search:hover {
            text-decoration: none;
        }

figure#doc-logo {
    float: left;
    margin-top: 3em;
    margin-left: 0;
}

    figure#doc-logo img {
        border: none;
        width: 100%;
    }

header img {
    border: none;
}

header nav li {
    display: inline-block;
}
/*---------------------------*/
/* Vita Banner */
/*---------------------------*/
#vita-banner {
    background-color: #fff;
    width: 100%;
}

    #vita-banner ul {
        padding-bottom: 6rem;
        padding-top: 6rem;
    }

    #vita-banner li#vita-cardinal {
        position: absolute;
        left: 1rem;
        margin: 0;
    }

        #vita-banner li#vita-cardinal img {
            width: 2.4rem;
            height: 2.1rem;
        }

    #vita-banner li {
        margin-right: 6em;
        vertical-align: middle;
    }

        #vita-banner li a {
            color: #464545;
            font-family: lato, arial, sans-serif;
            font-size: 1.8em;
            text-decoration: none;
        }

        #vita-banner li.banner-search {
            display: block;
            float: right;
            margin-right: 0;
        }

form#site-search {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    top: -1.9em;
    width: 100%;
}

header li.banner-search #site-search input#search-term {
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-right: 2.1176470588235294em;
    padding-top: 1rem;
    width: calc(100% - 2.823529411764706em);
}

#vita-banner form#site-search button[type="submit"] {
    background-color: #fff;
    background-image: url(../images/nav-icons/magnifying-glass.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    cursor: pointer;
    font-size: 1.7em;
    height: 2.1176470588235294em;
    padding: 0;
    position: absolute;
    right: 0.2rem;
    top: 1.2rem;
    width: 2.1176470588235294em;
}
/*---------------------------*/
/* Main Nav */
/*---------------------------*/
#main-nav {
    background-color: rgba(0, 55, 104, 0.85);
    padding: 0;
    width: 100%;
}

    #main-nav dl#main-nav-list > dd {
        display: inline-block;
        margin-left: -4px;
        position: relative;
    }

    #main-nav dd.dropdown-navlink > a {
        border-right: 1px solid #a8a8a9;
        display: block;
        font-family: lato, arial, sans-serif;
        font-size: 1.6em;
        padding-bottom: 2rem;
        padding-top: 1.5rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    #main-nav dl#main-nav-list > dd:nth-of-type(1) a {
        text-align: left;
        width: 25.9rem;
    }

    #main-nav dl#main-nav-list > dd:nth-of-type(2) a {
        width: 25.9rem;
    }

    #main-nav dl#main-nav-list > dd:nth-of-type(3) a {
        width: 23.4rem;
    }

    #main-nav dl#main-nav-list dd:nth-last-of-type(1) a {
        border-right: none;
        text-align: right;
        width: 24.4rem;
    }

    #main-nav dt#resources-label {
        color: #fff;
        display: inline-block;
        font-family: lato, arial, sans-serif;
        font-size: 1.7em;
        font-style: italic;
        margin-right: 4rem;
        width: 12rem;
    }

    #main-nav dd a span,
    #vita-banner li a span {
        display: inline-block;
        margin-right: 1rem;
        max-width: 9em;
        text-align: center;
        vertical-align: middle;
    }

    #main-nav dd a img {
        display: inline-block;
        vertical-align: middle;
    }

        #main-nav dd a img.nav-icon {
            margin-right: 0.625em; /*10px*/
            width: 5rem;
            height: 5rem;
        }

.dropdown-menu {
    background-color: #fff;
    display: none;
    margin-left: 0;
    padding-top: 2em;
    position: absolute;
    z-index: 50;
}

ul.dropdown-menu {
    padding-top: 4em;
}

#main-nav dd.dropdown-navlink:nth-last-of-type(1) ul.dropdown-menu,
#main-nav dd.dropdown-navlink:nth-last-of-type(2) ul.dropdown-menu {
    right: 0;
}

#facilities-submenu dd.facility-link-list {
    margin-left: 0;
}

    .dropdown-menu dd a,
    #facilities-submenu dd.facility-link-list dd a {
        color: #3a7ebc;
        font-size: 1.8em;
        line-height: 1.2em;
        text-decoration: underline;
    }

        .dropdown-menu dd a:hover,
        #facilities-submenu dd.facility-link-list dd a:hover {
            color: #3a7ebc;
            text-decoration: none;
        }

.dropdown-menu .dropdown-menu-list-column {
    padding-left: 4rem;
}

    .dropdown-menu .dropdown-menu-list-column:nth-of-type(1) {
        margin-left: 0;
    }

    .dropdown-menu .dropdown-menu-list-column:th-of-type(even) {
        padding-right: 4rem;
    }

    .dropdown-menu .dropdown-menu-list-column dl {
        margin-bottom: 6em;
    }

    .dropdown-menu .dropdown-menu-list-column dt {
        margin-bottom: 4rem;
    }

    .dropdown-menu .dropdown-menu-list-column dd {
        margin-bottom: 2em;
        padding-left: 1.5em;
    }

#vita-banner .dropdown-menu li {
    display: block;
}

header li.dropdown-navlink:hover .dropdown-menu:nth-of-type(1),
header dd.dropdown-navlink:hover .dropdown-menu:nth-of-type(1) {
    display: block;
}

#vita-banner li.dropdown-navlink:hover .dropdown-menu:nth-of-type(1) {
    height: 60rem;
}

#vita-banner .dropdown-menu #facilities-submenu {
    padding: 0;
    position: relative;
}

    #vita-banner .dropdown-menu #facilities-submenu li {
        display: inline-block;
        margin: 0 0 0 -2.04px;
    }

        #vita-banner .dropdown-menu #facilities-submenu li:nth-of-type(1) {
            margin-left: 0;
        }

#facilities-submenu li dt.submenu-heading {
    display: block;
    background-color: #eef2f4;
    font-size: 1.8rem;
    font-family: lato, arial, sans-serif;
    padding: 1em 0;
    text-align: center;
    width: 9.93rem;
}

#facilities-submenu li:hover dt.submenu-heading {
    background-color: #3a7ebc;
    color: #fff;
    cursor: pointer;
    position: relative;
}

    #facilities-submenu li:hover dt.submenu-heading::after {
        border-left: 0.75rem solid transparent;
        border-right: 0.75rem solid transparent;
        border-top: 0.75rem solid #3a7ebc;
        bottom: -0.75rem;
        content: '';
        display: block;
        height: 0;
        left: 4rem;
        position: absolute;
        width: 0;
    }

#vita-banner .dropdown-menu #facilities-submenu dd.facility-link-list {
    display: none;
    margin-left: 0;
}

#vita-banner .dropdown-menu #facilities-submenu li:hover dd.facility-link-list:nth-of-type(1) {
    display: block;
    left: 4em;
    position: absolute;
    padding-top: 2em;
    top: 5em;
}

#vita-banner .dropdown-menu #facilities-submenu dd.facility-link-list .left-col {
    float: left;
}

#vita-banner .dropdown-menu #facilities-submenu dd.facility-link-list .right-col {
    float: left;
    margin-left: 12rem;
    padding-top: 5.66rem;
}

    #vita-banner .dropdown-menu #facilities-submenu dd.facility-link-list .right-col dt:nth-child(1) {
        margin-top: -5.66rem;
    }

#vita-banner .dropdown-menu #facilities-submenu li:hover dd.facility-link-list:nth-of-type(2) {
    display: block;
    left: 40em;
    position: absolute;
    padding-top: 2em;
    top: 5em;
}

#facilities-submenu dd.facility-link-list dt {
    font-size: 4em;
}

#facilities-submenu dd.facility-link-list dd {
    margin-bottom: 2em;
    width: 24em;
}
/*---------------------------*/
/* Breadcrumbs */
/*---------------------------*/
.breadcrumbs {
    margin-top: 2em;
}

    .breadcrumbs li {
        display: inline-block;
        margin-right: 0.75em;
    }

    .breadcrumbs span {
        margin-left: 0.75em;
    }

        .breadcrumbs span:after {
            content: '>';
        }

    .breadcrumbs li:nth-last-child(1) span:after {
        content: '';
    }

    .breadcrumbs a {
        color: #a3a3a3;
        font-family: source-sans, arial, sans-serif;
        font-size: 1.6em;
        text-decoration: none;
    }
/*---------------------------*/
/* Footer */
/*---------------------------*/
footer {
    background-color: #34475a;
    padding: 8em 0;
}

.vcard p {
    margin-bottom: 0;
}

.vcard .tel {
    margin: 2em 0;
}

#vcard .adr {
    font-family: source-sans, arial, sans-serif;
    font-size: 1.7em;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

footer a:visited {
    color: #fff;
}

footer h2 {
    margin-bottom: 0.909090em; /*20px*/
}

footer #vcard,
#footer-social,
#footer-policies,
#footer-additional {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}

footer .link-list li {
    margin-bottom: 3em;
}

    footer .link-list li a:hover {
        color: inherit;
    }

#footer-social {
    margin-left: 0;
}

    #footer-social li {
        display: inline-block;
        width: 4em;
        margin-right: 5px;
    }

    #footer-social img {
        border: none;
        height: 4rem;
        width: 4rem;
    }

#footer-additional figure {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 4rem;
}

#footer-additional img {
    border: 0;
}

#footer-additional a {
    text-decoration: none;
}

    #footer-additional a span {
        display: inline-block;
        text-align: center;
        text-decoration: underline;
        width: 60%;
    }

        #footer-additional a span:hover {
            text-decoration: none;
        }

#back-to-top {
    bottom: 8rem;
    cursor: pointer;
    position: fixed;
    right: 4rem;
}

.fill-white {
    fill: #fff;
    transition: fill 0.3s;
}

.stroke-white {
    stroke: #fff;
    transition: stroke 0.2s;
}
/*---------------------------*/
/* Modal Displays */
/*---------------------------*/
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.modal-window {
    display: none;
    filter: blur(8px);
    height: 100vh;
    margin-top: 10em;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-out;
    width: 100%;
    z-index: 110;
}

    .modal-window .content-wrapper {
        position: relative;
    }

.close-modal {
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

    .close-modal img {
        border: none;
    }

.modal-ctrls {
    position: fixed;
    left: 0;
    top: 22em;
    width: 100%;
}

.modal-ctrl-prev,
.modal-ctrl-next {
    border: none;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    z-index: 120;
}

    .modal-ctrl-prev img,
    .modal-ctrl-next img {
        border: none;
        width: 6em;
        height: 6em;
    }

.modal-ctrl-prev {
    left: -2.5em;
}

.modal-ctrl-next {
    right: -2.5em;
}

.modal-window nav {
    padding-bottom: 6em;
}

nav ul.modal-nav {
    width: 100%;
}

    nav ul.modal-nav li p.h1-style {
        display: none;
        text-align: center;
    }

    nav ul.modal-nav li:nth-of-type(1) {
        margin-left: -1rem;
    }

        nav ul.modal-nav li:nth-of-type(1) a:before {
            margin: 0;
        }

    nav ul.modal-nav li:nth-last-of-type(1) a:after {
        border: 0;
    }

    nav ul.modal-nav li {
        display: inline-block;
        margin-left: -4px;
    }

        nav ul.modal-nav li:nth-last-of-type(1) {
            margin-right: -40px;
        }

        nav ul.modal-nav li a:focus {
            outline: none;
        }

        nav ul.modal-nav li a:before,
        nav ul.modal-nav li a:after {
            border-bottom: 2px solid #A3A2A2;
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 4.3em;
        }

        nav ul.modal-nav li a:after {
            margin-left: -4px;
        }

        nav ul.modal-nav li a:before {
            margin-right: -4px;
        }

        nav ul.modal-nav li.active a:before,
        nav ul.modal-nav li.active a:after {
            width: 2.25em;
        }

        nav ul.modal-nav li.active p.h1-style {
            display: block;
            color: #1A3967;
        }

        nav ul.modal-nav li:nth-of-type(1) a:before {
            border-bottom: none;
        }

        nav ul.modal-nav li.active img {
            width: 10em;
        }

    nav ul.modal-nav a img {
        display: inline-block;
        border: none;
        vertical-align: middle;
        width: 6em;
    }

    nav ul.modal-nav a {
        color: #A3A2A2;
        display: inline-block;
        font-size: 1em;
        height: 13.4em;
        position: relative;
        text-decoration: none;
    }

    nav ul.modal-nav li.active a {
        color: #1A3967;
        height: 15.4em;
    }

    nav ul.modal-nav a span {
        bottom: 0;
        display: block;
        font-family: lato, arial, sans-serif;
        font-size: 1.7em;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
    }

.modal-content {
    background-color: #fff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
    opacity: 1;
    padding: 4em 6.896552% 6em 6.896552%;
    position: relative;
    width: 72.413793%;
}

li.slide {
    display: none;
}

ul.modal-slides li.slide figure {
    margin: 4em auto;
    width: 100%;
}

ul.modal-slides li.slide img {
    width: 100%;
}
/*------------------------*/
/* Dual Range Slider*/
/*------------------------*/
.dual-range-slider .ui-state-default,
.dual-range-slider .ui-widget-content .ui-state-default {
    background-color: #eef2f4;
    border: 2px solid #3a7ebc;
    border-radius: 50%;
}

    .dual-range-slider .ui-state-default:focus,
    .dual-range-slider .ui-widget-content .ui-state-default:focus {
        outline: none;
    }

.ui-widget-content {
    background-color: #eef2f4;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-slider-horizontal {
    margin: 2em 0.5em 0 4em;
    height: 0.3em;
}

.ui-widget-header {
    background-color: #3a7ebc;
}

.ui-slider .ui-slider-handle {
    height: 4em;
    width: 4em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -2em;
    margin-left: -4em;
}

.range-display {
    display: none;
    margin-bottom: 2.2222222222222223em; /*40px*/
    margin-top: 1.6666666666666667em; /*30px*/
    text-align: center;
}
/*------------------------*/
/* Image Slider*/
/*------------------------*/
.image-slider {
    border-bottom: 1px dotted #a8a8a9;
    border-top: 1px dotted #a8a8a9;
    margin-bottom: 6em;
    margin-top: 1em;
    padding: 2em 0;
    position: relative;
}

    .image-slider figure {
        display: none;
        margin-bottom: 0;
        width: 100%;
    }

    .image-slider .default-slide {
        display: block;
    }

    .image-slider figure img {
        height: auto;
        width: inherit;
    }

    .image-slider figcaption p {
        font-style: italic;
        margin-bottom: 0;
    }

    .image-slider figcaption span.date-stamp {
        line-height: 1.5em;
    }

.slider-ctrl {
    position: absolute;
}

    .slider-ctrl img {
        border: none;
    }

.image-slider-ctrls .next {
    right: 1.5em;
}

.image-slider-ctrls .previous {
    left: 1.5em;
    transform: rotate(180deg);
}

.image-slider-ctrls:after {
    display: none;
    content: url('../images/image-slider/block-expand-50.svg') url('../images/image-slider/image-nav-50.svg');
}

.image-slider-ctrls .next img,
.image-slider-ctrls .previous img {
    height: 3.5294117647058822em; /*60px*/
    width: 3.5294117647058822em; /*60px*/
}

.image-slider-ctrls .expand {
    right: 0;
}

.image-slider-ctrls nav.slider-bubble-nav {
    position: absolute;
}

nav.slider-bubble-nav ul {
    margin-after: 0;
}

nav.slider-bubble-nav li {
    display: inline-block;
}

.slider-bubble-link {
    background-color: #a3a3a3;
    border-radius: 50%;
    display: block;
    height: 0.5882352941176471em; /*10px*/
    margin-right: 0.5882352941176471em; /*10px*/
    width: 0.5882352941176471em; /*10px*/
}

.slider-bubble-nav li:nth-last-of-type(1) a.slider-bubble-link {
    margin-right: 0;
}

.active-bubble-link {
    background-color: #464545;
}

.modal-window nav.slider-bubble-nav {
    padding: 0;
}

#rich-news .modal-window {
    max-height: 90vh;
    position: fixed;
    margin-top: 0;
}

#rich-news .modal-content {
    padding: 4em 3.448276% 2em;
    top: 5vh;
    width: 79.310345%;
}

    #rich-news .modal-content figure {
        max-height: calc(90vh - 9.2em);
        overflow: hidden;
    }

    #rich-news .modal-content figcaption {
        display: none;
    }

.modal-content .slider-bubble-nav ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}
/*global icon list styling*/
ul.icon-list .li-info,
ul.icon-list img.li-icon,
ul.icon-bullet-list .li-info,
ul.icon-bullet-list img.li-icon {
    display: inline-block;
}

ul.icon-list .li-info,
ul.icon-list img.li-icon {
    vertical-align: top;
}

ul.icon-list li,
ul.icon-bullet-list li {
    margin-bottom: 4em;
}

    ul.icon-list li p:nth-last-of-type(1),
    ul.icon-bullet-list li p:nth-last-of-type(1) {
        margin-bottom: 0;
    }

ul.icon-list .li-info,
ul.icon-bullet-list .li-info {
    margin-left: -3px;
}

ul.icon-list img.li-icon,
ul.icon-bullet-list img.li-icon {
    border: none;
    margin-right: 2em;
}

ul.icon-list ol,
ul.icon-bullet-list ol {
    margin-left: 1.8em;
    list-style: decimal;
}
/*--------------------------*/
/* Offender Locator Page */
/*--------------------------*/
#offender-locator header #hero-banner {
    background-image: url(../images/conference-room-2.jpg);
    background-position: center;
    background-size: cover;
}

#required-fields {
    background-color: #eef2f4;
    padding: 4em 0;
}

    #required-fields label:nth-of-type(1),
    #optional-fields label:nth-of-type(1),
    #optional-fields .offender-input-group {
        margin-left: 0;
    }

.offender-input-group input#release-date {
    display: inline-block;
    margin-right: 0.5882352941176471em; /*10px*/
    width: 16.941176470588236em; /*288px*/
}

.vertical-line {
    border-left: 1px solid #000;
    height: 3rem;
    left: 0.9em;
    position: relative;
}

#offender-locator #or-divider-wrap {
    display: inline-block;
    margin-right: 3.19rem;
    margin-left: 3.18rem;
}

#offender-locator p.or-divider {
    margin: 0;
}

#offender-locator .calendar-icon {
    border: none;
    display: inline-block;
    height: 4rem;
    margin: 0 0 0 -0.4rem;
    vertical-align: bottom;
    width: 4rem;
}

#offender-locator-form button[type='submit'] {
    margin-top: 2rem; /*20px*/
}

#results-sort {
    display: none;
}

.result-data {
    border: 1px solid #a8a8a9;
    display: block;
    padding-bottom: 6em;
    padding-top: 4em;
}

ul#result-cards li {
    margin-bottom: 2em;
}

.result-data dd.result-location a {
    line-height: 1.4em;
}

#offender-locator ul#result-cards dt.alias,
#offender-locator ul#result-cards dd.alias {
    display: inline-block;
    font-style: italic;
    margin-bottom: 0;
}

.result-data .h2-style {
    margin-bottom: 0.227272em; /*5px*/
}

#optional-fields {
    margin-bottom: 6em;
    margin-top: 4em;
}

    #optional-fields label {
        margin-bottom: 2rem;
    }

    #optional-fields hr {
        border-bottom: 1px solid #a8a8a9;
    }

#offender-results {
    margin-bottom: 4em;
    width: 100%;
}

#offender-locator ul#result-cards dt {
    margin-bottom: 1rem; /*10px*/
}

    #offender-locator ul#result-cards dt.ib-element {
        margin-bottom: 0;
    }

ul#result-cards li.result-subgroup {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}

.result-subgroup:nth-last-of-type(1) {
    vertical-align: middle;
}

.result-subgroup .multiline-link {
    font-size: 2.2em;
}

.result-offender-page,
.result-jpay {
    top: 2.3em;
    width: 5em;
}

    .result-offender-page img,
    .result-jpay img {
        height: 100%;
        width: 100%;
    }

dd.result-jpay {
    left: 0;
    position: absolute;
}

dd .tooltip {
    background-color: #eef2f4;
    display: none;
    padding: 2em 4em;
    position: absolute;
    right: -24.3rem;
    top: -8.3rem;
    width: 19em;
    z-index: 10;
}

#result-cards dd .tooltip p,
#result-cards dd .tooltip h2 {
    margin-bottom: 0;
}

dd.result-offender-page {
    position: absolute;
    right: 0;
}

#disclaimer {
    margin-bottom: 6em;
    margin-top: 4em;
    width: 72rem;
}
/*------------------------*/
/* Media Queries */
/*------------------------*/
@media screen and (max-width: 800px) {
    body {
        min-width: 100%;
    }

    #vita-banner,
    #main-nav {
        display: none;
    }

    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col-13,
    .col-14,
    .col-15,
    .col-16,
    .col-17,
    .col-18,
    .col-19,
    .col-20,
    .col-21,
    .col-22,
    .col-23,
    .col-24,
    .col-25,
    .col-26,
    .col-27,
    .col-28 {
        display: block;
        margin-left: 0;
        width: 100%;
    }
    /* Footer Mobile */
    footer #footer-social,
    footer #footer-policies,
    footer #footer-additional,
    footer .vcard {
        disply: block;
        margin: 0;
        width: 100%;
    }

    footer #footer-social,
    footer #footer-policies,
    footer .vcard {
        margin-bottom: 6rem;
    }

        footer #footer-social li {
            margin-right: 2rem;
        }

    #footer-additional a span {
        margin-left: 4rem;
        text-align: left;
        width: initial;
    }

    .content-wrapper {
        margin: 0;
        padding: 0 2rem;
        width: initial;
    }
}
